doctype html
html
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src="https://use.fontawesome.com/7c9618d580.js")
    
  body
    block content
  
      
script(src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous")
  
  

//- script(src="/javascripts/tinymce/js/tinymce/tinymce.min.js")
script(src="/javascripts/tinymce/tinymce.min.js")
script(src="/javascripts/common.js")
